.main {
  font-family: "Geist", sans-serif;
}

.heading {
  font-size: 60px;
  line-height: 1;
color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.header {
  background-image: linear-gradient(to bottom, rgba(94, 58, 148, 0.7) 0%, #0f0f0f 100%);
  padding: 40px 10px;
}

.mainPara {
  text-align: center;

  font-size: 20px;
  color: #71717a;
  margin: 8px auto;
  max-width: 700px;
}
.mainButton {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
  
}
.Browse {
  background-color: #3B82F6;
  color: #fafafa;
  font-size: 14px;
  padding: 12px 32px;
  cursor: pointer;
  border: none;

 
  line-height: 20px;

  border-radius: 6px;
  font-weight: 500;
}
.Start {
  font-size: 14px;
  padding: 12px 32px;
  line-height: 20px;
 
  background-color: #ffffff;
  font-weight: 500;
  border: hsl(240, 5.9%, 90%) solid 1px;
  border-radius: 6px;
  cursor: pointer;
}

.Hero{
  max-width: 90%;
  margin: 0 auto;
}